@keyframes float {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-5px);
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://img.r7.com/images/2015/09/25/5i06iixn4q_503e572fz7_file'); /* Substitua pelo URL da sua imagem */
    background-size: cover;
    background-repeat: no-repeat;
    animation: float 2s ease-in-out infinite;
    z-index: -1; /* Para garantir que a imagem de fundo esteja atrás do conteúdo */
}

.audio-controls {
    text-align: center;
}


/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

section {
    margin: 20px;
}

/* Estilos específicos para seções */
h2 {
    color: #e7e3e3;
}

img {
    max-width: 100%;
    height: auto;
}

/* Rodapé */
footer {
    background-color: #010101;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Cor do texto no conteúdo */
body {
    color: #e6e6e6;
}

/* Cor do texto no cabeçalho */
header {
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
    color: #fff;
}

/* Sombra de texto no conteúdo */
body {
    text-shadow: 1px 1px 1px black; /* Sombra clara */
}

/* Sombra de texto no cabeçalho */
header {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Sombra escura */
}

/* Tamanho da fonte no conteúdo */
body {
    font-size: 16px;
}

/* Tamanho da fonte no cabeçalho */
header {
    font-size: 24px;
}

/* Estilos para a imagem da capa da música */
.capa-musica {
    width: 200px; /* Defina a largura máxima como 100% */
    height: auto; /* Mantenha a proporção original da imagem */
}

